.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1920px;
}

.itemContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.flex {
  display: flex;
}